{{#if isLoggedIn}}
{{#linkTo 'settings' classNames='hdr-user'}}
<div class='hdr-user-name'></div>
hi,
{{currentUser.username}}
{{/linkTo}}
{{#linkTo 'logout'}}
Logout?
{{/linkTo}}
<hr>
{{else}}
<a class="button hdr-button-login" href='' {{action "loginButton" on="click"}}>
<strong>Login</strong>
</a>
{{/if}}
{{#if error}}
<div class='alert alert-error'>
  <h4 class='alert-header'>{{error.message}}</h4>
  <ul>
    {{#each e in error.errors}}
    <li>{{e}}</li>
    {{/each}}
  </ul>
</div>
<hr>
{{/if}}
{{outlet}}
