<h1>Todos</h1>
{{#if todos}}
<a href="#" {{action "sortBy" "by_incomplete" on="click"}} {{bind-attr class="isByIncomplete:active"}}>
Incomplete
</a>
<a href="#" {{action "sortBy" "by_due_date" on="click"}} {{bind-attr class="isByDueDate:active"}}>
Due Date
</a>
<a href="#" {{action "sortBy" "by_priority" on="click"}} {{bind-attr class="isByPriority:active"}}>
Priority
</a>
{{/if}}
<hr>
<form {{action "create" on="submit"}}>
{{view Ember.TextField valueBinding="new_todo_name" placeholder='Add a todo...' classNames="new-todo-name"}}
</form>
{{#each todo in todos}}
{{view PP.TodoView todoBinding='todo'}}
{{/each}}
