!!! 5
- conditional_html

%head
  %title PepperMill
  %meta{ name: 'description', content: 'Do todos. Like a Boss'}
  = stylesheet_link_tag 'application'
  /[if lt IE 9]
    = stylesheet_link_tag 'lt_ie9'
  %meta{ content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0", name: "viewport" }
  = javascript_include_tag "modernizr"
  %link{ rel: "shortcut icon", href: "favicon.png" }
  %link{ rel: "apple-touch-icon", href: "favicon.png" }
%body
  = javascript_include_tag "application"
  = yield
