!!! 5
- conditional_html

%head
  %title PepperMill
  %meta{ name: 'description', content: 'Do todos. Like a Boss'}
  = stylesheet_link_tag 'application'
  /[if lt IE 9]
    = stylesheet_link_tag 'lt_ie9'
  %meta{ content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0", name: "viewport" }
  = javascript_include_tag "modernizr"
  %link{ rel: "shortcut icon", href: "favicon.png" }
  %link{ rel: "apple-touch-icon", href: "favicon.png" }

  :coffee
    if Modernizr.history
      hash = window.location.hash
      if hash.length
        href                 = hash.replace '#', ''
        window.location.href = href
    else
      pathname = window.location.pathname
      if pathname.length > 1
        window.location.href = '/#' + pathname
%body
  = javascript_include_tag "application"
  = yield
